header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    background-image: url("../");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 20px;
    height: 100%;
}